* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Spectral Medium", serif;
    font-size: 2rem;
    line-height: 1;
    color: #fff7cc;
    background-color: #000000;
}

.block_1 {

}

.block_2 {

}

.block_3 {

}

.block_4 {

}

.block_5 {

}

.block_6 {

}

h1 {
    font-family: "Cinzel Decorative Bold", serif;
    font-size: 10rem;
    color: #dcdc02;
}

h2 {
    font-family: "Cinzel Bold", serif;
    font-size: 4rem;
    color: #ffae00;
}

h3 {
    font-family: "Cinzel Bold", serif;
    font-size: 3rem;
    color: #dcdc02;
}

h4 {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    color: #dcdc02;
}

h5 {
    font-family: "Cinzel", serif;
    font-size: 1rem;
    color: #dcdc02;
}

h6 {
    font-family: "Spectral ExtraLight", serif;
    font-size: 2rem;
    color: #dcdc02;
}

/* Create classes for different paragraph styles that aren't headings.
General text, subtitles, footer/header text, and figure text.
 */
