* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Spectral Medium", serif;
    line-height: 1;
    color: white;
    background-color: black;
}

.block_1 {

}

.block_2 {

}

.block_3 {

}

.block_4 {

}

.block_5 {

}

.block_6 {

}

h1 {
    font-family: "Cinzel Bold", serif;
    color: #dcdc02;

}
