
/* -------------------------------------------------------------------------------------------------------- */
/* BLOCK FORMS */

/* Makes column flex boxes when applied to a tag. */
.block_form_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Makes row flex boxes when applied to a tag. */
.block_form_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* -------------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------------- */
/* BLOCK TYPES */

/* Another way to think of this class would be chapters within a book. */
.block_upper {
    background-color: var(--color_block_background_upper);
    border-color: var(--color_block_border_upper);
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    padding: var(--spacing_2_size);
}

/* Dedicated to sections within the chapter of a book or a technical document. */
.block_middle {
    background-color: var(--color_block_background_middle);
    border-color: var(--color_block_border_middle);
    border-radius: 5px;
    margin-left: var(--spacing_6_size);
    margin-right: var(--spacing_6_size);
    padding: var(--spacing_2_size);
}

/* Best used for a paragraph on a page or mini-heading within a technical document. */
.block_lower {
    background-color: var(--color_block_background_lower);
    border-color: var(--color_block_border_middle);
    border-radius: 5px;
    margin-left: var(--spacing_6_size);
    margin-right: var(--spacing_6_size);
    padding: var(--spacing_2_size);
}

/* Use this class to make warnings for users to declare important information. */
.block_warning {
    background-color: var(--color_block_background_warning);
    border-color: var(--color_block_border_warning);
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
    padding: var(--spacing_4_size);
}

/* Use this class for parenthetical information or stories. */
.block_story {
    background-color: var(--color_block_background_story);
    border-color: var(--color_block_border_story);
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    padding: var(--spacing_4_size);
}
/* -------------------------------------------------------------------------------------------------------- */
