
/* Universal Heading Styling */
.heading_title,
.heading_upper,
.heading_middle,
.heading_lower,
.heading_warning,
.heading_story
{
    text-align: center;
}

/* Titles */
.heading_title {
    color: var(--color_heading_title);
    font-family: var(--font_heading_title), sans-serif;
    font-size: 8rem;
}

/* Upper Block Sections */
.heading_upper {
    color: var(--color_heading_upper);
    font-family: var(--font_heading_blocks), var(--font_generic);
    font-size: 5rem;
}

/* Middle Block Sections */
.heading_middle {
    color: var(--color_heading_middle);
    font-family: var(--font_heading_blocks), var(--font_generic);
    font-size: 4rem;
}

/* Lower Block Sections */
.heading_lower {
    color: var(--color_heading_lower);
    font-family: var(--font_heading_blocks), var(--font_generic);
    font-size: 3rem;
}

/* Warnings */
.heading_warning {
    color: var(--color_heading_warning);
    font-family: var(--font_heading_warning), var(--font_generic);
    font-size: 2rem;
}

/* Stories */
.heading_story {
    color: var(--color_heading_story);
    font-family: var(--font_heading_story), var(--font_generic);
    font-size: 2rem;
}
