
/* Table 1 Style */
.table_1 {
    background-color: black;
    border-color: white;
    border-style: inset;
    border-width: 5px;
    border-collapse: collapse;
    padding: var(--spacing_5_size)
}

.table_1_headings {
    color: white;
    text-align: center;
    border-bottom-color: white;
    border-bottom-style: inset;
    border-bottom-width: 3px;
    border-right-color: white;
    border-right-style: inset;
    border-right-width: 1px;
    font-family: FONT_CINZEL, serif;
    font-size: 1.5rem;
    padding: var(--spacing_4_size);
}

.table_1_data {
    background-color: black;
    color: white;
    border-bottom-color: white;
    border-bottom-style: inset;
    border-right-color: white;
    border-right-style: inset;
    border-width: 1px;
    text-align: center;
    font-family: FONT_SPECTRAL_LIGHT, serif;
    font-size: 1.5rem;
    padding: var(--spacing_4_size);
}
