
/* Table 1 Style */
.table_1 {
    background-color: black;
    border-color: white;
    border-style: inset;
    border-width: 5px;
    border-collapse: collapse;
    padding: var(--spacing_vertical_5) var(--spacing_horizontal_5);
}

.table_1_headings {
    color: white;
    text-align: center;
    border-bottom-color: white;
    border-bottom-style: inset;
    border-bottom-width: 3px;
    border-right-color: white;
    border-right-style: inset;
    border-right-width: 1px;
    font-family: FONT_CINZEL, serif;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    padding: var(--spacing_vertical_4) var(--spacing_horizontal_4);
}

.table_1_data {
    background-color: black;
    color: white;
    border-bottom-color: white;
    border-bottom-style: inset;
    border-right-color: white;
    border-right-style: inset;
    border-width: 1px;
    text-align: center;
    font-family: FONT_SPECTRAL_LIGHT, serif;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    padding: var(--spacing_vertical_4) var(--spacing_horizontal_4);
}
