
/* General Purpose */
.text_general {
    color: var(--color_text_general);
    font-family: var(--font_text_general), var(--font_generic);
    font-size: 1.75rem;
    line-height: 1.5;
}

/* Marginal Information (Corner Info, Header/Footer) */
.text_marginal {
    color: var(--color_text_marginal);
    font-family: var(--font_text_marginal), var(--font_generic);
    font-size: 1.25rem;
    line-height: 1;
}

/* Warnings */
.text_warning {
    color: var(--color_text_warning);
    font-family: var(--font_text_warning), var(--font_generic);
    font-size: 1.25rem;
    line-height: 2;
}

/* Stories */
.text_story {
    color: var(--color_text_story);
    font-family: var(--font_text_story), var(--font_generic);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}

/* Figure, Charts, Tables, and Illustration Descriptions/Details/Insights */
.text_visual {
    color: var(--color_text_visual);
    font-family: var(--font_text_visual), var(--font_generic);
    font-size: 1.25rem;
    line-height: 1;
}
