
/* General Purpose */
.text_general {
    font-family: FONT_SPECTRAL_MEDIUM, serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--color-7);
}

/* Marginal Information */
.text_marginal {
    font-family: FONT_SPECTRAL_SEMI_BOLD, serif;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--color-2);
}

.text_warning {
    font-family: FONT_YOUNGSERIF_REGULAR, serif;
    font-size: 1.25rem;
    line-height: 2;
    color: var(--color-7);
}

.text_story {
    font-family: FONT_QUINTESSENTIAL_REGULAR, serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--color-7);
}

/* Figure, Charts, Tables, and Illustration Descriptions/Details/Insights */
.text_visuals {
    font-family: FONT_SPECTRAL_REGULAR, serif;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--color-2);
}
