
/* -------------------------------------------------- */
/* MARGIN STYLES */

/* Margin All Sides */
.margin_0 { margin: var(--spacing_auto); }
.margin_1 { margin: var(--spacing_vertical_1) var(--spacing_horizontal_1); }
.margin_2 { margin: var(--spacing_vertical_2) var(--spacing_horizontal_2); }
.margin_3 { margin: var(--spacing_vertical_3) var(--spacing_horizontal_3); }
.margin_4 { margin: var(--spacing_vertical_4) var(--spacing_horizontal_4); }
.margin_5 { margin: var(--spacing_vertical_5) var(--spacing_horizontal_5); }
.margin_6 { margin: var(--spacing_vertical_6) var(--spacing_horizontal_6); }

/* Margin Top */
.margin_top_0 { margin-top: var(--spacing_auto); }
.margin_top_1 { margin-top: var(--spacing_vertical_1); }
.margin_top_2 { margin-top: var(--spacing_vertical_2); }
.margin_top_3 { margin-top: var(--spacing_vertical_3); }
.margin_top_4 { margin-top: var(--spacing_vertical_4); }
.margin_top_5 { margin-top: var(--spacing_vertical_5); }
.margin_top_6 { margin-top: var(--spacing_vertical_6); }

/* Margin Bottom */
.margin_bottom_0 { margin-bottom: var(--spacing_auto); }
.margin_bottom_1 { margin-bottom: var(--spacing_vertical_1); }
.margin_bottom_2 { margin-bottom: var(--spacing_vertical_2); }
.margin_bottom_3 { margin-bottom: var(--spacing_vertical_3); }
.margin_bottom_4 { margin-bottom: var(--spacing_vertical_4); }
.margin_bottom_5 { margin-bottom: var(--spacing_vertical_5); }
.margin_bottom_6 { margin-bottom: var(--spacing_vertical_6); }


/* Margin Left */
.margin_left_0 { margin-left: var(--spacing_auto); }
.margin_left_1 { margin-left: var(--spacing_horizontal_1); }
.margin_left_2 { margin-left: var(--spacing_horizontal_2); }
.margin_left_3 { margin-left: var(--spacing_horizontal_3); }
.margin_left_4 { margin-left: var(--spacing_horizontal_4); }
.margin_left_5 { margin-left: var(--spacing_horizontal_5); }
.margin_left_6 { margin-left: var(--spacing_horizontal_6); }

/* Margin Right */
.margin_right_0 { margin-right: var(--spacing_auto); }
.margin_right_1 { margin-right: var(--spacing_horizontal_1); }
.margin_right_2 { margin-right: var(--spacing_horizontal_2); }
.margin_right_3 { margin-right: var(--spacing_horizontal_3); }
.margin_right_4 { margin-right: var(--spacing_horizontal_4); }
.margin_right_5 { margin-right: var(--spacing_horizontal_5); }
.margin_right_6 { margin-right: var(--spacing_horizontal_6); }
/* -------------------------------------------------- */





/* -------------------------------------------------- */
/* PADDING STYLES */

/* Padding All Sides */
.padding_0 { padding: var(--spacing_auto); }
.padding_1 { padding: var(--spacing_vertical_1) var(--spacing_horizontal_1); }
.padding_2 { padding: var(--spacing_vertical_2) var(--spacing_horizontal_2); }
.padding_3 { padding: var(--spacing_vertical_3) var(--spacing_horizontal_3); }
.padding_4 { padding: var(--spacing_vertical_4) var(--spacing_horizontal_4); }
.padding_5 { padding: var(--spacing_vertical_5) var(--spacing_horizontal_5); }
.padding_6 { padding: var(--spacing_vertical_6) var(--spacing_horizontal_6); }

/* Padding Top */
.padding_top_0 { padding-top: var(--spacing_auto); }
.padding_top_1 { padding-top: var(--spacing_vertical_1); }
.padding_top_2 { padding-top: var(--spacing_vertical_2); }
.padding_top_3 { padding-top: var(--spacing_vertical_3); }
.padding_top_4 { padding-top: var(--spacing_vertical_4); }
.padding_top_5 { padding-top: var(--spacing_vertical_5); }
.padding_top_6 { padding-top: var(--spacing_vertical_6); }

/* Padding Bottom */
.padding_bottom_0 { padding-bottom: var(--spacing_auto); }
.padding_bottom_1 { padding-bottom: var(--spacing_vertical_1); }
.padding_bottom_2 { padding-bottom: var(--spacing_vertical_2); }
.padding_bottom_3 { padding-bottom: var(--spacing_vertical_3); }
.padding_bottom_4 { padding-bottom: var(--spacing_vertical_4); }
.padding_bottom_5 { padding-bottom: var(--spacing_vertical_5); }
.padding_bottom_6 { padding-bottom: var(--spacing_vertical_6); }

/* Padding Left */
.padding_left_0 { padding-left: var(--spacing_auto); }
.padding_left_1 { padding-left: var(--spacing_horizontal_1); }
.padding_left_2 { padding-left: var(--spacing_horizontal_2); }
.padding_left_3 { padding-left: var(--spacing_horizontal_3); }
.padding_left_4 { padding-left: var(--spacing_horizontal_4); }
.padding_left_5 { padding-left: var(--spacing_horizontal_5); }
.padding_left_6 { padding-left: var(--spacing_horizontal_6); }

/* Padding Right */
.padding_right_0 { padding-right: var(--spacing_auto); }
.padding_right_1 { padding-right: var(--spacing_horizontal_1); }
.padding_right_2 { padding-right: var(--spacing_horizontal_2); }
.padding_right_3 { padding-right: var(--spacing_horizontal_3); }
.padding_right_4 { padding-right: var(--spacing_horizontal_4); }
.padding_right_5 { padding-right: var(--spacing_horizontal_5); }
.padding_right_6 { padding-right: var(--spacing_horizontal_6); }
/* -------------------------------------------------- */
