
/*

IMPORTANT NOTE: Treat the styling in this file as the universal defaults for the template.  A lot of these
defaults will likely be overridden with classes, ids, and specifications for tags in other files.
So, to be clear, this file merely acts as the foundation for all other elements - it is NOT how all the
elements will end up functioning.

*/

/* UNIVERSAL SELECTOR - Will change every element within the HTML files. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY SELECTOR - Will change all elements within the body tags. */
body {
    color: var(--color_text_general);
    background-color: var(--color_background);
    font-family: var(--font_text_general), var(--font_generic);
    font-style: normal;
    font-size: 2rem;
    line-height: 1;

    /* These are the properties that are allowing justify to have as close to evenly spaced blanks between words.
    Be careful tweaking these properties, it can make your text really fucky if not calibrated correctly.  But it may
    need to be done when different font families potentially get used.  And as a final note, a lot of these properties
    really only apply under very specific scenarios.  So if you don't see anything happen after changing something,
    then it's likely (not always) that you aren't testing under the right scenario. */
    text-align: justify;
    word-spacing: -0.05em;
    letter-spacing: -0.01em;
    overflow-wrap: break-word;
    text-wrap: pretty;
    hyphens: auto;
    font-kerning: normal;
}
