
/*

IMPORTANT NOTE: Treat the CSS in this file as the universal defaults
for the template.  A lot of these defaults will likely be overridden when classes,
ids, and specifications for tags are made in other stylesheets.  So, to be clear,
this file merely acts as the foundation for all other elements - it is NOT how
all the elements will end up functioning.

*/

/* GLOBAL CONSTANTS - Will change every element within the html documents. */
:root {
    --color-1: black;
    --color-2: white;
    --color-3: #dcdc02;
    --color-4: #f8f68b;
    --color-5: #ff9c00;
    --color-6: #cda449;
    --color-7: #fff7cc;
    --color-8: #131313;
    --color-9: #1e1a1a;
    --color-10: #03250b;
    --color-11: #3e0808;

    --spacing_0_size: auto;
    --spacing_1_size: 3rem;
    --spacing_2_size: 2rem;
    --spacing_3_size: 1.5rem;
    --spacing_4_size: 1rem;
    --spacing_5_size: 0.5rem;
    --spacing_6_size: 0.25rem;
}

/* UNIVERSAL SELECTOR - Will change every element within the html documents. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY SELECTOR - Will change all elements within a body tag. */
body {
    font-family: FONT_SPECTRAL_MEDIUM, serif;
    font-size: 2rem;
    text-align: justify;
    hyphens: auto;
    line-height: 1;
    color: var(--color-7);
    background-color: var(--color-1);
}
