
/* -------------------------------------------------- */
/* HEADING STYLES */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* Heading 1 - Titles */
h1 {
    color: var(--color-3);
    font-family: FONT_CINZEL_DECORATIVE_BOLD, serif;
    font-size: 6rem;
}

/* Heading 2 - Upper Class Sections */
h2 {
    color: var(--color-5);
    font-family: FONT_CINZEL_BOLD, serif;
    font-size: 4rem;
}

/* Heading 3 - Middle Class Sections */
h3 {
    color: var(--color-4);
    font-family: FONT_CINZEL_BOLD, serif;
    font-size: 3rem;
}

/* Heading 4 - Lower Class Sections */
h4 {
    color: var(--color-6);
    font-family: FONT_CINZEL_BOLD, serif;
    font-size: 2rem;
}

/* Heading 5 - Overtitles */
/* Overtitles are used to go above any of the class header types. */
/* IDs may be necessary for overtitles to ensure their font-size is appropriate */
/* for the class header they're attached to. */
h5 {
    color: var(--color-3);
    font-family: FONT_SPECTRAL_BOLD, serif;
    font-size: 1.25rem;
}

/* Heading 6 - Subtitles */
/* Subtitles are used to go below any of the class header types. */
/* IDs may be necessary for subtitles to ensure their font-size is appropriate */
/* for the class header they're attached to.*/
h6 {
    color: var(--color-7);
    font-family: FONT_SPECTRAL_LIGHT, serif;
    font-size: 1rem;
}
/* -------------------------------------------------- */





/* -------------------------------------------------- */
/* NON-HEADING TEXT STYLES */

/* General Purpose */
.text_general {
    font-family: FONT_SPECTRAL_MEDIUM, serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--color-7);
}

/* Marginal Information */
.text_marginal {
    font-family: FONT_SPECTRAL_SEMI_BOLD, serif;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--color-2);
}

/* Figure, Charts, Tables, and Illustration Descriptions/Details/Insights */
.text_visuals {
    font-family: FONT_SPECTRAL_REGULAR, serif;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--color-2);
}
/* -------------------------------------------------- */
